<div class="post">
  <h2>
    <%=h @post.title %>
  </h2>
  <div class="post_body">
    <%= auto_link(h(truncate(@post.body, :length => 400)), :link => :urls) %>
  </div>
  <p class="post_time">Posted at: <%=h @post.created_at %></p>
</div>

<h1 class="blog_title">New comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

<%= f.hidden_field :post_id, :value => params[:post_id] %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
	<%= f.label :captcha, "What is the opposite of white?" %><br />
	<%= f.text_field :captcha %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comments_path %>