<h1>Users List</h1>
  
<div class="user">
<% @users.each do |user| %>
	<div class="users">
		<%= user.email %><br>  
    	<%= link_to 'Edit', edit_user_path(user) %> |
    	<%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
		<hr>
	</div>
<% end %>
</div>

<br />

<%= link_to "Back", root_url %> |
<%= link_to 'New user', new_user_path %>