<% @posts.each do |post| %>
	
	<div class="post">  
	
		<h2><%=h truncate(post.title, :length => 30) %></h2>
	
	   <div class="post_body"><%= auto_link(h(truncate(post.body, :length => 800)), :link => :urls) %></div>
	   <div class="post_time">Posted at: <%=h post.created_at %><br><br>

	   	 <%= link_to 'Read More', post %> 

	   	 <% if !current_user.nil? %>
	   	  | <%= link_to 'Edit', edit_post_path(post) %> |
	   	   <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
	     <% end %>
   	 </div>
	
	</div>
	
<% end %>


<br />

<% if !current_user.nil? %>
  <%= link_to 'New post', new_post_path %> | 
  <%= link_to "Users", users_url %>
<% end %>