<div class="post">
  <h2>
    <%=h @post.title %>
  </h2>
  <div class="post_body">
    <%= auto_link(h(@post.body), :link => :urls) %>
  </div>
  <div class="post_time">Posted at: <%=h @post.created_at %></div>
</div>

<div class="links">
  <%= link_to 'Back', posts_path %>

  <% if !current_user.nil? %>
    | <%= link_to 'Edit', edit_post_path(@post) %> 
  <% end %>
</div>

<h2 class="comments_title">Comments</h2>
  
<% @post.comments.each do |comment| %>
  <div style="margin: 2em 0 2em">
    <p class="">
      <%= comment.body %>
    </p>  
  </div>
  <p class="small" style="margin-bottom: 3em">
    <em>Posted 
    <% if comment.user %>
		  by <b><%= comment.user %></b>
	  <% end %>
	  on <%= comment.created_at(:date_time) %></em>
  </p>
  <% if !current_user.nil? %>
  <%= link_to 'Edit', edit_comment_path(comment) %> |
  <%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <hr>
<% end %>

<p style="margin-top: 2em">
  <%= link_to "New Comment", new_comment_path(:post_id => @post.id) %>
</p>
