<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>BLAWG</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
      
  <div id="container">

    <% if current_user %>
      <div id="login">
       <%= current_user %> is blawgin.
       <%= link_to "Logout", logout_url %>
      </div>
    <% else %>
      <div id="login">
        You are not logged in. <%= link_to "Login", login_url %> 
     
      </div>
    <% end %>

    <div id="logo">
      <%= link_to "blawg", root_url %>
    </div>

    <div class="main">
      <% if flash %>
        <div style=""><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
    <%= render "/layouts/sidebar" %>
  </div>

</body>
</html>
